* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#canvas {
  /*height: 100vh;*/
  /*border: 1px solid red;*/
  /*background-color: rgba(0,0,0,.1);*/
  display: block;
}
body{
  /*background-color: rgba(0,0,0,.1);*/
  /*border: 1px solid blue;*/
}